@model IEnumerable<Camera>
@{
    ViewData["Title"] = "Index";
}

@*<h1>Index Camera</h1>*@

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Camera List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Camera" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-flag"></i> &nbsp; Report New Camera
            </a>
        </div>
    </div>
    <br /><br />


    <table class="table table-bordered tableprogress-bar-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Camera Id
                </th>
                <th>
                    Location
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td width="30%">
                        @obj.Id
                    </td>
                    <td width="50%">
                        @obj.Location
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>